body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;

}
 .box{
  width: 450px;
  height: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  padding: 0;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  padding: 0;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box li a{
  color: white;
  font-size: 35px;
  text-decoration: none;
}

 h1 {
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}

p {
  color: #7dFFF;
  font-weight: ligther;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-weight: ligther;
  font-size: 20px;
  margin-top: 0;
  font-family: 'Century Gothic',sans-serif;
}
.media {
  position: absolute;
  top: 58.5%;
  left: 50%;
  overflow: hidden;
  transform: translate(-53%, -50%);s
}
li {
  line-height: 1.6em;
  width: 1.6em;
  font-size: 1.6em;
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  padding: 18px 18px;
  color: #f4f6f7;
  border: solid 1px #f4f6f7;
  border-radius: 100%;
}
li:hover {
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
}